*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
/* Nav bar */
.navbar{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0f1111;
    height: 60px;
    width: 100%;
    color: white;
    align-items: center;
    font-weight: 700;
    

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 5%;
}
/* left nav */
.left_nav{
/* height: 60px; */
width: 216px;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}
/* left nav box1 */
.nav_logo{
    height: 50px;
    width: 113px;
    background-image: url(../Images/az_logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: center; */
}
/* left nav box2 */
.nav_loc{
    height: 50px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loc-txt{
    font-size: .75rem;
    color: #cccccc;
    margin-left: 15px;
}
.loc-val{
    font-size: 1rem;
    margin-left: 3px;
}
.icon-loc{
    display: flex;
    align-items: center;
}
/* centr nav */

.centr_nav{
    /* background-color: aqua; */
    height: 40px;
    width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* center box 1 */
.nav_select{
    height: 40px;
    width: 40px;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #cccccc;
    font-size: .75rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav_search{
    height: 40px;
    width: 100%;
    border: none;
    padding: 0%;
    font-size: 1rem;
}
/* center box 2 */
.icon_image{
    height: 40px;
    width: 50px;
    background-color: white;
    color : #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_search{
    height: 40px;
    width: 50px;
    background-color: rgb(255, 187, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #0f1111;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}


.right_nav p {
    font-size: .85rem;
}
.right_nav{
    /* height: 60px; */
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
span{
    font-size: .70rem;
    color: #cccccc;
}

.nav_cart i {
    font-size: 30px;

}
.nav_cart{
    display : flex; 
    align-items: baseline;
    font-size: .85rem;
}

/* Nav2 */

.nav2{
    background-color: #222f3d;
    display: flex;
    color : white;
    font-weight: 550;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.nav2_All{
    display: flex;
    align-items: center;
    padding: 9px;
    /* height: 95%; */
    
}
.nav2_All p{
    margin-left:5px;
    font-size: .85rem;
    
    
}
.nav2_All i{
    font-size: 1.2rem;
    
}
.nav2_Options p{
    display: inline;
    font-size: .85rem;
    padding : 11px;
}

.nav2_Options{
    width: 95%;
}

/* Main section */
main{
    /* border: 2px solid red; */
    background-color: #f5f6f6;
    height: fit-content;
    /* height: em; */
    /* background-image: linear-gradient(to bottom, rgba(227, 230, 230, 0), rgba(227, 230, 230, 1)), url(../Images/Mainbgi.png); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* margin-left: 150px;
    margin-right: 150px; */
    /* overflow:auto;  */

}

/* Hero section */
.Hero_section{
    /* border: 2px solid black; */
    background-image: url(../Images/Mainbgi.png);
    background-size: cover;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: end;
    position : relative;
    /* margin-left : 120px; */
}
.hero_msg{
    height: 40px;
    width: 100%;
    background-color: #f5f6f6;
    position : relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    /* margin-top: 300px; */

}

#hm_a1{
    color: #007185;
    font-size: .85rem;
    text-decoration: none;
}


/* Content section */

.Content_section{
    /* border: 2px solid red; */
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f5f6f6;
    /* margin-left: 120px; */
}
.cnt_main_box{
    height: 420px;
    width: 23%;
    background-color: white;
    display : flex;
    flex-direction:column;
    margin: 10px;
    

}

.Box1_txt h2{
    font-size: 1.3rem;
    text-align: left;

    height: 50px;
    
    
}
.Box1_txt{
    /* border: 2px solid black; */
    /* width: 100%; */
    margin: 15px;
    margin-left: 25px;
    

}
.cnt_box{
    border: 2px solid black;
    margin-left: 25px;
    height: 75%;
    width: 85%;
}
#Box1{
    background-image: url(../Images/Box1.jpg);
    background-size: cover;
    
}
#Box2{
    background-image: url(../Images/Box2.jpg);
    background-size: cover;
    
}
#Box3{
    background-image: url(../Images/Box3.jpg);
    background-size: cover;
}
#Box4{
    background-image: url(../Images/Box4.jpg);
    background-size: cover;
}
#Box5{
    background-image: url(../Images/Box5.jpg);
    background-size: cover;
}
#Box6{
    background-image: url(../Images/Box6.jpg);
    background-size: cover;
}
#Box7{
    background-image: url(../Images/Box7.jpg);
    background-size: cover;
}
#Box8{
    background-image: url(../Images/Box8.jpg);
    background-size: cover;
}
.cnt_box_L{
    height: 280px;
    width: 98%;
    background-color: white;
    margin:  10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.cnt_box_L_cld{
    
    height: 250px;
    width: 97%;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.Box_L_cnt{
    /* border: 2px solid black; */
    height: 100%;
    width: 18%;
}
#Box9_1{
    background-image: url(../Images/Box9_1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
#Box9_2{
    background-image: url(../Images/Box9_2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
#Box9_3{
    background-image: url(../Images/Box9_3.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
#Box9_4{
    background-image: url(../Images/Box9_4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
#Box9_5{
    background-image: url(../Images/Box9_5.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

/* Footer */

footer{
    height : fit-content;
}
.nav_Footer_bk2nav{
    height: 50px;
    background-color: #294253;
}
.nav_Footer_bk2nav span{
    font-size: 1rem;
    display: block;
    text-align: center;
    padding: 15px;
}

.nav_Footer_acciblity{
    height: 400px;
    background-color: #232f3e;
}
.nav_Footer_acc_box1{
    height: 320px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}
.nav_footer_acc_content{
    height: 80%;
    width: 12%;
    margin: 40px;
    color: white;

}
.nav_Footer_acc_box2{
    height: 80px;
    border-top: 1px solid rgb(81, 84, 121);
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.nav_Footer_image{
    position: absolute;
    background-image: url(../Images/amz_logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 113px;
    
}
.nav_Footer_link{
    height: 300px;
    background-color: #131A22;
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
ul {
    list-style-type: none;
    font-weight: 300;
    padding-left: 0;
    margin-top: 10px;
}
ul li {
    margin-bottom: 10px;
}
table{
    color: white;
    border-spacing: 30px;
}
.nav_Footer_link span{
    font-size: .7rem;
    color: rgb(172, 172, 172);
    margin-right: 30px;
    
}
.nav_foote_end ul li{
    display: inline-table;   
    margin-left:8px ; 
}
.nav_foote_end{
    text-align: center;
}
/* hr{
    border-top: 1px dotted rgb(81, 84, 121);
    margin : 10px;
} */


