*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
/* Nav bar */
.navbar{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0f1111;
    height: 60px;
    width: 100%;
    color: white;
    align-items: center;
    font-weight: 700;
    

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 5%;
}
/* left nav */
.left_nav{
/* height: 60px; */
width: 216px;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}
/* left nav box1 */
.nav_logo{
    height: 50px;
    width: 113px;
    background-image: url(../Images/az_logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: center; */
}
/* left nav box2 */
.nav_loc{
    height: 50px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loc-txt{
    font-size: .75rem;
    color: #cccccc;
    margin-left: 15px;
}
.loc-val{
    font-size: 1rem;
    margin-left: 3px;
}
.icon-loc{
    display: flex;
    align-items: center;
}
/* centr nav */

.centr_nav{
    /* background-color: aqua; */
    height: 40px;
    width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* center box 1 */
.nav_select{
    height: 40px;
    width: 40px;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #cccccc;
    font-size: .75rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav_search{
    height: 40px;
    width: 100%;
    border: none;
    padding: 0%;
    font-size: 1rem;
}
/* center box 2 */
.icon_image{
    height: 40px;
    width: 50px;
    background-color: white;
    color : #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_search{
    height: 40px;
    width: 50px;
    background-color: rgb(255, 187, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #0f1111;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}


.right_nav p {
    font-size: .85rem;
}
.right_nav{
    /* height: 60px; */
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
span{
    font-size: .70rem;
    color: #cccccc;
}

.nav_cart i {
    font-size: 30px;

}
.nav_cart{
    display : flex; 
    align-items: baseline;
    font-size: .85rem;
}

/* Nav2 */

.nav2{
    background-color: #222f3d;
    display: flex;
    color : white;
    font-weight: 550;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.nav2_All{
    display: flex;
    align-items: center;
    padding: 9px;
    /* height: 95%; */
    
}
.nav2_All p{
    margin-left:5px;
    font-size: .85rem;
    
    
}
.nav2_All i{
    font-size: 1.2rem;
    
}
.nav2_Options p{
    display: inline;
    font-size: .85rem;
    padding : 11px;
}

.nav2_Options{
    width: 95%;
}

/* Main section */
main{
    background-color: #E3E6E6;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(227, 230, 230, 0), rgba(227, 230, 230, 1)), url(../Images/Mainbgi.png);
    background-size: cover;
    

}
.Hero_section{
    
    height : 400px;
    display: flex;
    justify-content: center;
    align-items: end;
    position : relative;



}
.hero_msg{
    height: 40px;
    width: 100%;
    background-color: #f5f6f6;
    position : relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

}

#hm_a1{
    color: #007185;
    font-size: .85rem;
    text-decoration: none;
}


