body{
    margin: 0;
}
.container1{
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top: 5px solid black;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    position : absolute;
    top: 200px;
    left: 200px;
    
    animation: rot 2s linear infinite normal;
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.container{
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    background-color:pink;
    height: 100px;
    width: 100px;  
    position : absolute;
    top: 400px;
    left: 400px;
    transition-property: all;
    /* transition-duration: 2s; */
    transition-timing-function: ease-in;
    /* transition-delay: 1s; */  
}
.container:hover{
    background-color: red;
    animation-name: Move;
    animation-duration: 5s;
    /* animation-direction: normal; */
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    /* animation:Move 5s ease-in 1s infinite normal, rotate 5s ease-in 1s infinite normal; */
}
.container:active{
    background-color: green;
    /* transform: rotate(90deg); */
    /* transform: translate(200px) */
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
        /* transform: translate(0px); */
        background-color: aqua;
    }
    
    to{
        transform: rotate(360deg);
        /* transform: translate(500px); */
        background-color: blue;
    }
}
@keyframes Move{
    from{
        transform: translateX(0) rotate(0deg);
    }
    to{
        transform: translateX(0) rotate(360deg);
        background-color: blue;
    }
}